<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" >
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Taches client</ion-title>
  </ion-toolbar>
  <ion-segment color="danger" scrollable>


      <ion-segment class="ion-padding">
          <ion-segment-button value="f" (click)="notaffectedTache()" checked>
              <ion-label>Tâche non affectée</ion-label>
          </ion-segment-button>
          <ion-segment-button (click)="affectedTache()" >
              <ion-label>Tâche affectée</ion-label>
          </ion-segment-button>


      </ion-segment>



  </ion-segment>
</ion-header>



<ion-content *ngIf="isaffected">
  <!-- Icon end -->


  <div class="row sticky-top bg-white">
      <div class="col-6">
          <h1 class="p-2" style="font-family: 'Girassol', cursive;
">Tâche affectée</h1>
      </div>
      <div class="col-6">
          <div class="float-right p-4">
              <button  color="primary" routerLink="./545/add-tache" mat-mini-fab >
                  <mat-icon>add</mat-icon>
              </button>


          </div>

      </div>

      <mat-autocomplete>
          <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
          </mat-option>
      </mat-autocomplete>
  </div>

  <mat-divider>
  </mat-divider>


  <mat-expansion-panel *ngFor="let tache of taches" class="mt-2 mb-1">
      <mat-expansion-panel-header  *ngIf="!!tache.payload.devId">
          <ion-grid>
              <ion-row>
                  <ion-col class="mt-2">

                      <ngx-avatar   name="{{tache.payload.nameTache}}" size="35"></ngx-avatar>
                  </ion-col>
                  <ion-col>
                      <ion-item>
                          <ion-label>
                              <small class="text-muted p-2">{{tache.payload.description}}</small>
                          </ion-label>


                      </ion-item>

                  </ion-col>
                  <ion-col>

                      <ion-item>
<a routerLink="./{{tache.key}}/affect-tache">                            <mat-icon color="primary">group_add</mat-icon>
</a>
                      </ion-item>
                  </ion-col>
                  <ion-col>

                      <ion-item>
                          <a (click)="listDev(tache.key,tache.payload.devId)" >   <mat-icon color="accent">group</mat-icon>
                          </a>
                      </ion-item>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </mat-expansion-panel-header>



      <div class="mt-3">
description

          <p>{{tache.payload.description}}.</p>
      </div>
      <mat-action-row>
          <button  routerLink="./{{tache.key}}/edit-tache" mat-button color="primary">Update</button>
          <button mat-button color="warn">Delete</button>

      </mat-action-row>

  </mat-expansion-panel>

</ion-content>




<ion-content *ngIf="!isaffected">
  <!-- Icon end -->


  <div class="row sticky-top bg-white">
      <div class="col-6">
          <h1 class="p-2" style="font-family: 'Girassol', cursive;
">Tâche non affectée</h1>
      </div>
      <div class="col-6">
          <div class="float-right p-4">
              <button  color="primary" routerLink="./545/add-tache" mat-mini-fab >
                  <mat-icon>add</mat-icon>
              </button>


          </div>

      </div>
   
      <mat-autocomplete>
          <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
          </mat-option>
      </mat-autocomplete>
  </div>

  <mat-divider>
  </mat-divider>


  <mat-expansion-panel *ngFor="let tache of taches" class="mt-2 mb-1">
      <mat-expansion-panel-header  *ngIf="! !!tache.payload.devId">
          <ion-grid>
              <ion-row>
                  <ion-col class="mt-2">

                      <ngx-avatar   name="{{tache.payload.nameTache}}" size="35"></ngx-avatar>
                  </ion-col>
                  <ion-col>
                      <ion-item>
                          <ion-label>
                              <small class="text-muted p-2">{{tache.payload.description}}</small>
                          </ion-label>


                      </ion-item>

                  </ion-col>
                  <ion-col>

                      <ion-item>
                          <a routerLink="./{{tache.key}}/affect-tache">                            <mat-icon color="primary">group_add</mat-icon>
                          </a>
                      </ion-item>
                  </ion-col>
                  <ion-col>


                  </ion-col>
              </ion-row>
          </ion-grid>
      </mat-expansion-panel-header>



      <div class="mt-3">
          description

          <p>{{tache.payload.description}}.</p>
      </div>
      <mat-action-row>
          <button  routerLink="./{{tache.key}}/edit-tache" mat-button color="primary">Update</button>
          <button mat-button color="warn">Delete</button>

      </mat-action-row>

  </mat-expansion-panel>

</ion-content>


<ion-footer  class="text-right p-2 sticky-top">
  <button  color="primary" routerLink="./add-projet" mat-mini-fab >
      <mat-icon>info</mat-icon>
  </button>

</ion-footer>
