<ion-header>
    <ion-header>
        <ion-title>
             Chat Room
        </ion-title>
    </ion-header>
</ion-header>
<ion-content padding>
    <ion-list no-lines>
        <div *ngFor="let message of messagesList">
            <div >

                <img class="me" style="background: white !important;border-radius: 50%" width="50px" src="https://scontent.ftun3-1.fna.fbcdn.net/v/t1.0-1/p160x160/79783496_2462417463885208_2253413085006004224_n.jpg?_nc_cat=100&_nc_ohc=4S_mvT3Cp0YAQldADEoU0v17OPcLPEsF0yG1KZxnaMoMB_o7S5zS5uv7Q&_nc_ht=scontent.ftun3-1.fna&oh=a825dcc588864265bf0003452626f373&oe=5E67BA96"/>

                <div class="bubble me">
                    <p style="font-size: 10px"> {{message.name}}</p>
   {{ message.message }}
                </div>
            </div>
            <div style="clear:both"></div>
            <div >
                <div class="bubble you">
                    {{ message.message }}
                </div>
            </div>
            <div style="clear:both"></div>

        </div>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-item>
        <ion-input style="border: #2e256d 2px solid" type="text" placeholder="type here..." [(ngModel)]="newmessage"></ion-input>
        <button ion-button clear item-right (click)="send()"><mat-icon color="primary">send</mat-icon></button>

    </ion-item>
</ion-footer>
