<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Statistique</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-card>
            <ion-card-header>Taches statistique
            </ion-card-header>
            <ion-card-content>
                <canvas #barCanvas></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Projets  statistique
            </ion-card-header>
            <ion-card-content>
                <canvas #doughnutCanvas></canvas>
            </ion-card-content>
        </ion-card>


    </div>
</ion-content>
