<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" >
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Projects Clients</ion-title>
  </ion-toolbar>

</ion-header>



<ion-content>
  <div class="row">
 <div class="col-6">
     <h1 class="p-2" style="font-family: 'Girassol', cursive;
">Projects client</h1>
 </div>
      <div class="col-6">


      </div>


  </div>
 

  <mat-divider>
  </mat-divider>
<ion-card *ngIf="this.projects.length===0">
  <ion-img style="width: 100%; height:100px" src="https://cdn1.iconfinder.com/data/icons/web-notifications-2/64/5._page_not_found__404_error_server_website_internet_problem-512.png"></ion-img>
</ion-card>
  <mat-expansion-panel   class="mt-2 mb-1" *ngFor="let projet of projects" >
      <mat-expansion-panel-header  (click)=bindData(projet)>
          <ion-grid>
              <ion-row>

                      <ion-item >

                          <ion-col>
                              <ion-label>
                                  <ngx-avatar  class="d-inline-block" name="{{projet.payload.nameProject}}" size="35"></ngx-avatar>


                              <small  class="text-muted  d-inline-block p-2">{{projet.payload.nameProject}}</small>
                          </ion-label>

                          </ion-col>
                      </ion-item>



              </ion-row>
          </ion-grid>
      </mat-expansion-panel-header>



      <div class="mt-3">
          <ion-item>
   
     


<div class="container">

    <div class="row" *ngFor='let tache of this.taches'>
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="designiation tache " disabled value="{{tache.nameTache}}">
        </mat-form-field>  
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="description " disabled value="{{tache.description}}">
        </mat-form-field>  
    </div>
            
    </div>
</div>



            
            
           
          </ion-item>
        
      </div>
    

  </mat-expansion-panel>


</ion-content>
<ion-footer  class="text-right p-2 sticky-top">
  <button  color="primary" routerLink="./add-projet" mat-mini-fab >
      <mat-icon>info</mat-icon>
  </button>

</ion-footer>

