<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" >
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Deposer cahier de charge </ion-title>
  </ion-toolbar>

</ion-header>



<ion-content >
  <!-- Icon end -->


  <div class="row sticky-top bg-white">
      <div class="col-6">
          <h1 class="p-2" style="font-family: 'Girassol', cursive;
">depot de chaier de charge  </h1>
      </div>
    

      
  </div>

  <mat-divider>
  </mat-divider>
<br>

<br>


  <form [formGroup]="addCahierCharge" (ngSubmit)="logForm()">

    <ion-item>
      <ion-label>Projet</ion-label>
      <ion-select   formControlName="projet">
          <ion-select-option *ngFor="let projet of projets" value="{{projet.key}}"> {{projet.payload.nameProject}}</ion-select-option>
      </ion-select>
  </ion-item>

    <ion-item>
      <ion-label>Vous voulez choisir un fichier</ion-label>
   
    </ion-item>
   

    <ion-item>
      

      <ion-label>   </ion-label>

      <ion-input type="file" type="file" formControlName="upresume_one" name="upresume_one"></ion-input>

    </ion-item>
<br>
    <ion-button ion-button type="submit"  [disabled]="!addCahierCharge.valid"block>Deposer chahier</ion-button>
  </form>





  </ion-content>