<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Affectation Tache</ion-title>
    </ion-toolbar>

</ion-header>
<mat-card>
    <form [formGroup]="affectTache" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>Team Group</ion-label>
            <ion-select  multiple="true" formControlName="devId">


                <ion-select-option *ngFor="let membre of dev" value="{{membre.key}}">{{membre.payload.fullName}}</ion-select-option>
            </ion-select>
        </ion-item>







        <ion-item class="text-center ">
            <div class="text-center">

                <ion-button type="submit" size="small" [disabled]="!affectTache.valid" >Save</ion-button>
                <ion-button size="small" color="tertiary">Cancel</ion-button>
            </div>
        </ion-item>
    </form>
</mat-card>


<ion-content>


</ion-content>
