<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>REUNION </ion-title>
    </ion-toolbar>

</ion-header>







<ion-content >
    <!-- Icon end -->


    <div class="row sticky-top bg-white">
        <div class="col-6">
            <h1 class="p-2" style="font-family: 'Girassol', cursive;
">reunions</h1>
        </div>
        <div class="col-6">
            <div class="float-right p-4">
                <button  color="primary" routerLink="../add-reunion" mat-mini-fab >
                    <mat-icon>add</mat-icon>
                </button>


            </div>

        </div>
        <div class="w100 ">
            <mat-form-field class="w100 pl-5 pr-5">
                <mat-icon matSuffix>search</mat-icon>
                <input type="text" placeholder="Search Tache" (ngModelChange)="filterItem()" matInput [formControl]="myControl">
            </mat-form-field>
        </div>

    </div>

    <mat-divider>
    </mat-divider>


    <mat-expansion-panel *ngFor="let tache of this.reunions" class="mt-2 mb-1">
        <mat-expansion-panel-header  *ngIf="! !!tache.payload.devId">
            <ion-grid>
                <ion-row>
                    <ion-col class="mt-2">

                        <ngx-avatar   name="{{tache.payload.description}}" size="35"></ngx-avatar>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                <small class="text-muted p-2">{{tache.payload.description}}</small>
                            </ion-label>


                        </ion-item>


                    </ion-col>
                    <ion-col>

                        <ion-item>
                            <a routerLink="./{{tache.key}}/affect-tache">                            <mat-icon color="primary">group_add</mat-icon>
                            </a>
                        </ion-item>
                    </ion-col>
                    <ion-col>


                    </ion-col>
                </ion-row>
            </ion-grid>
        </mat-expansion-panel-header>



        <div class="mt-3">
            description

            <p>{{tache.payload.description}}.</p>
            <ion-item>
                <ion-label>
                    start date
                    <small class="text-muted p-2">{{tache.payload.startDate}}</small>
                </ion-label>


            </ion-item>
        </div>
        <mat-action-row>
            <button  routerLink="./{{tache.key}}/edit-tache" mat-button color="primary">Update</button>
            <button mat-button color="warn">Delete</button>

        </mat-action-row>

    </mat-expansion-panel>

</ion-content>


<ion-footer  class="text-right p-2 sticky-top">
    <button  color="primary" routerLink="./add-projet" mat-mini-fab >
        <mat-icon>info</mat-icon>
    </button>

</ion-footer>
